.carousel-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 25vw; 
  margin-bottom: 7vw;
}

.carousel-item {
  padding-bottom: 16vw;
  padding-top: 3vw;
  /* border: 3px solid blue; */
}

.nav-links {
  color: white;
  margin-right: 1%;
  transition: color 100ms; 
  width: max-content;
  /* border: 3px solid red; */
  text-align: center;
}

.nav-links:hover {
  color: lightblue; 
  cursor: pointer;
}

h2 {
  text-align: center;
}

.nav-bar-brand {
  margin-left: 1%;
}

.error-message {
  color: red;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
}

.success-message {
  color: green;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
}

.update-button {
  margin-right: 1vw;
}

.loginLogout-button {
  width: 25%;
  margin-right: 2%;
}

h2 {
  text-align: left;
}

#login-message {
  color: red;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  margin-top: 1vw;
}

#add-book-button {
  /* border: 3px solid red; */
  width: 100%;
  margin-right: 28%;
}
